.DS_Store
**/.swp
**/placehold
**/rename_script
script2
unclean
TryOuts
working*
xmlfiles
Backup
backup2
interp.krn
kernsplit
phrase
NotYetAnalyzed
temp
conflicted
backup
kernsplit_debugged
stripped
Analysis_Kirsten
Old
tmp
temp*
.mid
.sib
.xml
**/TryOuts
